

.About
{
    padding-left: 520px;
    font-weight: bold;
}

.second_row_about{

    height:750px;
    width:100%;
    background-color: gray();


}

.border
{
    font-weight:bold;
    box-sizing: inherit;
    border-bottom: 1px solid #eeeeee;

    width: 300px;
    line-height: 3.0;

}
.Education
{
    padding-left: 520px;
    font-weight: bold;
}
.third_row_education
{
    height:650px;
    background-color: rgba(221,206,175,0.13);
    //background-image: url("../images/skill.jpg");
    //background-repeat: no-repeat;

}

.fourth_row_education
{
    height:650px;
   background-color: orange;

}

.pro_info
{
    width:90%;
   margin-left: 50px;
}
.skill
{
    padding-left: 4%;
    padding-top: 30px;
}

.girl_image
{
margin-top: 80px;
}
.panel
{
    margin-top: 20px;
}
.paragraph
{
    padding-right: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Times New Roman";

    font-size: large;
}
.personal_infor
{
    font-weight: bold;
}

.btn-large {
    background-color: black;
    height: 54px;    line-height: 56px;
    color: #FFF;
    letter-spacing: .5px;
    padding: 0 2rem;
    text-transform: uppercase;
    display: inline-block
}


.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.resume-btn
{
    margin-top: 30px;
}

.img
{
    width:50%;
}
.tit
{
    padding-left: 50px;
}

.pan
{
    width:200px;
}
.cd
{
    margin-left: 10px;
}