.About
{
    padding-left: 550px;
}
.second_row_about
{
    height:500px;
    background-color: darkseagreen;

}
.Education
{
    padding-left: 550px;

}

.third_row_education
{
    height:500px;

    background-color: cornsilk;
}
.pro_info
{
    width:90%;
   margin-left: 50px;
}
.skill
{
    padding-left: 4%;
    padding-top: 15px;
}

.girl_image
{
margin-top: 80px;
}
.paragraph
{
    padding-right: 5px;
    border-style: groove;
    border-width: 2px;
    font-weight: bold;
    font-family: "Times New Roman";

    font-size: large;
}
.heading{
    padding: 20px;
}
.button
{
    margin-left: 500px;

}