.footer1
{

    background-color:#262626;
    height: 300px;


}


.f2
{
     padding-left: 550px;
    margin-top: 100px;

}
.loc
{
    color: aliceblue;
    padding: 20px;
    margin-top: 50px;
}

.add
{
    color: aliceblue;
    padding-left: 25px;
    font-weight: bold;
}

.add1
{
    color: aliceblue;
    padding-left: 30px;
    font-weight: bold;
}

.web
{
    margin-top: 120px;
    color: white;
    font-family:Times New Roman, Times, serif;

}

.github
{
    font-size: 36px;
    color:white;
    padding: 10px;
    margin-left:50px;
}
.link
{
    font-size: 36px;
    color:white;
    padding: 10px;
}

.loca1{
    font-size:24px;
    color: white;
    margin-top:30px;
    margin-left:30px;
}
.span1
{
    color:white;
    padding-left:10px;
    font-family:Times New Roman, Times, serif;
    padding-left:60px;

}
.col
{
    margin-top: 60px;
}
.span{
    color:white;
    padding-left:10px;
    font-family:Times New Roman, Times, serif;
}
.phone1{
    font-size:24px;
    color:white;
    margin-top:30px;
    margin-left:30px;
}
.mail1
{
    font-size:36px;
    color:white;
    padding :10px;
}